body {
    background: white;
}
/* ----------- SECTION APRESENTAÇÃO ----------- */
.apresentacao {
    background: url('http://lorempixel.com/1366/768/');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-size: contain;
}
.apresentacao * {
    font-family: Open Sans, sans-serif;
}
.apresentacao__conteudo {
    /* configurações do flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px; /* tamanho mobile */
}
.apresentacao__titulo {
    font-size: 2rem;
    margin: 0;
}
.apresentacao__subtitulo {
    font-size: 1rem;
    font-weight: 400;
    color: #666;
}
.apresentacao__titulo, .apresentacao__subtitulo {
    text-align: center;
}
.apresentacao__link {
    padding: 0.75rem 2rem;

    border-radius: 25px;
    text-decoration: none;
    background: #018AF5;
    color: white;
}
.apresentacao__link:visited {
    color: white;
}
.apresentacao__imagem {
    width: 100%;
}
.apresentacao__imagem img {
    width: 100%;
    vertical-align: middle; /* propriedade que tira a pequena margin inferior da picture */
}
.cabecalho {
    display: flex;
    justify-content: space-between;  
    height: 5rem;
}
.cabecalho__logo {
    align-self: center;
    margin: 1rem;
    color: dodgerblue;
}
.cabecalho__navbar {
    display: none;
}
.cabecalho__signup {
    display: none;
}
.cabecalho__hamburguer-menu {
    align-self: center;
    margin: 1rem;
    font-size: 2rem;
    color: lightgray;
}
@media screen and (min-width: 768px) {
    .apresentacao__titulo {
        font-size: 3rem;
    }
    .apresentacao__subtitulo {
        font-size: 1.2rem;
    }
    .cabecalho {
        height: 6rem;
        justify-content: flex-end;
    }
    .cabecalho__logo {
        flex-grow: 1;
        margin-left: 2rem;
    }
    .cabecalho__signup {
        display: inline-block;
        align-self: center;
    }
    .cabecalho__signup__button-login {
        width: 10rem;
        border-radius: 6rem;
        border: 1px solid lightgray;
        padding: 1rem 2rem;
        text-decoration: none;
        font-weight: bolder;
        color: gray;
        background-color: white;
    }
    .cabecalho__signup__button-getstarted {
        width: 10rem;
        border-radius: 6rem;
        border: 1px solid lightgray;
        padding: 1rem 2rem;
        text-decoration: none;
        font-weight: bolder;
        color: dodgerblue;
        background-color: white;
    }
    .cabecalho__hamburguer-menu {
        margin: 2rem;
    }
}
@media screen and (min-width: 992px) {
    .apresentacao {
        background: url('http://lorempixel.com/1920/1080/');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .apresentacao__imagem {
        width: 75%;
    }
    .cabecalho {
        justify-content: space-between;
    }
    .cabecalho__logo {
        flex-grow: 0;
    }
    .cabecalho__navbar {
        display: inline-block;
        align-self: center;
    }
    .cabecalho__navbar ul {
        list-style: none;
    }    
    .cabecalho__navbar li {
        display: inline;
        margin: 0.6rem;
    }
    .cabecalho__navbar a {
        text-transform: uppercase;
        text-decoration: none;
        color: gray;
    }
    .cabecalho__navbar li:hover {
        padding-bottom: 2.4rem;
        border-bottom: 2px solid dodgerblue;
        font-weight: bolder;
    }
    .cabecalho__signup__button-getstarted {
        margin-right: 2rem;
    }
    .cabecalho__hamburguer-menu {
        display: none;
    }
}