
.botao-comece {
    display: block;
    margin: 1em auto 8em;
    width: 10em;
    padding: 1em;
    cursor: pointer;
    color: whitesmoke;
    background-color: dodgerblue;
    border: none;
    border-radius: 6em;
}