* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.nav {
    display: flex;
    justify-content: space-between;  
    height: 5rem;
    border-bottom: 1px solid lightgray;
}
.nav__logo {
    align-self: center;
    margin: 1rem;
    color: dodgerblue;
}
.nav__navbar {
    display: none;
}
.nav__signup {
    display: none;
}
.nav__hamburguer-menu {
    align-self: center;
    margin: 1rem;
    font-size: 2rem;
    color: lightgray;
}
<!-- .reach-me-link {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.reach-me-link--white {
    color: white;
}
.reach-me-link--blue {
    color: #4097f1;
} -->
@media(min-width: 768px) {
    .nav {
        height: 6rem;
        justify-content: flex-end;
    }
    .nav__logo {
        flex-grow: 1;
        margin-left: 2rem;
    }
    .nav__signup {
        display: inline-block;
        align-self: center;
    }
    .nav__signup__button-login {
        width: 10rem;
        border-radius: 6rem;
        border: 1px solid lightgray;
        padding: 1rem 2rem;
        text-decoration: none;
        font-weight: bolder;
        color: gray;
        background-color: white;
    }
    /* ------ BASE BUTTON ------- */
    .button {
        padding: 0.5rem 2rem;
    
        border-radius: 25px;
        text-decoration: none;
        background: transparent;
    }
    .button--outline {
        color: #0089F5;
        border: 1px solid #666;
    }
    * {
        font-family: Open Sans;
    }
    
    body {
        margin: 20px;
    }
    .nav__hamburguer-menu {
        margin: 2rem;
    }
}
@media(min-width: 992px) {
    .nav {
        justify-content: space-between;
    }
    .nav__logo {
        flex-grow: 0;
    }
    .nav__navbar {
        display: inline-block;
        align-self: center;
    }
    .nav__navbar ul {
        list-style: none;
    }    
    .nav__navbar li {
        display: inline;
        margin: 0.1rem;
    }
    .nav__navbar a {
        text-transform: uppercase;
        text-decoration: none;
        color: gray;
    }
    .nav__navbar li:hover {
        padding-bottom: 2.4rem;
        border-bottom: 2px solid dodgerblue;
        font-weight: bolder;
    }
    .button .button--outline{
        margin-right: 2rem;
    }
    .nav__hamburguer-menu {
        display: none;
    }
}