<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="hero.css">
    <title>Hero</title>
</head>
<body>
    <header class="cabecalho">
        <h1 class="cabecalho__logo">reach.me</h1> <!-- Atualizar classe do logo para '.reach-me-link' '.reach-me-link--white' '.reach-me-link--blue' (utilizar o componente) -->
        <nav class="cabecalho__navbar">
            <ul>
                <li><a href="">features</a></li>
                <li><a href="">pricing</a></li>
                <li><a href="">about us</a></li>
                <li><a href="">blog</a></li>
                <li><a href="">contact us</a></li>
            </ul>
        </nav>
        <div class="cabecalho__signup">
            <a class="cabecalho__signup__button-login" href="">Log in</a> <!-- Atualizar classe dos botões para '.button' '.button--primary' '.button--outline' '.button--secondary' (utilizar o componente) -->
            <a class="cabecalho__signup__button-getstarted" href="">Get Started</a>            
        </div>          
        <a class="cabecalho__hamburguer-menu" href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
    </header>
</body>
</html>