<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="hero.css">
    <title>Hero</title>
</head>
<body>
    <section class="learn-more">
        <h1 class="learn-more__titulo">Reach.me<br> Features</h1>
        <p class="learn-more__description">Schedule, Automate, Measure and Monitor all your social media accounts from a single dashboard</p>
        <a href="#" class="learn-more__button button button--primary">Learn More</a>
        <div class="learn-more__images">
            <img class="learn-more__image-Instagram-md" src="hero_left_image_md.png" alt="trending lines">
            <img class="learn-more__image-Instagram-lg" src="hero_left_image_lg.png" alt="trending lines">
            <img class="learn-more__image-facebook-md" src="hero_center_image_md.png" alt="dashboard">
            <img class="learn-more__image-facebook-lg" src="hero_center_image_lg.png" alt="dashboard">
            <img class="learn-more__image-face-md" src="hero_right_image_md.png" alt="trending lines">
            <img class="learn-more__image-face-lg" src="hero_right_image_lg.png" alt="trending liness">
        </div>
    </section>
</body>
</html>