* {
    font-family: Open Sans;
}
body {
    margin: 20px;
}
/* ------ BASE BUTTON ------- */
.button {
    padding: 0.5rem 2rem;
    border-radius: 25px;
    text-decoration: none;
    background: transparent;
}
/* --- VARIATIONS ---  */
.learn-more__button {
    justify-content: center;
}
.button--primary {
    color: white;
    background: #0089F5; 
    display: inline-block;
    text-align: center;
}
.learn-more, p 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.learn-more__titulo {
    margin: 2em 0 0.2em 0;
    text-align: center;
    font-size: 1.9em;
    color: #333;
}
.learn-more__description 
{
    margin: 1em;
    text-align: center;
    font-size: 0.9em;
    color: #aaa;
}
.learn-more__image-facebbok-md {
    max-width: 100%;
}
.learn-more__image-Instagram-md,
.learn-more__image-Instagram-lg,
.learn-more__image-facebook-lg,
.learn-more__image-face-md,
.learn-more__image-face-lg {
    display: none;
}
@media(min-width: 768px)
{
    .learn-more__titulo {
        font-size: 4.5em;
    }
    br {
        content: " ";
    }
    .learn-more__description {
        font-size: 1.5em;
    }
    .learn-more__images {
        display: flex;
        justify-content: center;
    }
    .learn-more__image-Instagram-md,
    .learn-more__image-face-md {
        display: inline;
        max-width: 100%;
    }  
} 
@media(min-width: 992px)
{
    .learn-more__image-Instagram-md,
    .learn-more__image-facebook-md,
    .learn-more__image-face-md {
        display: none;
    }
    .learn-more__image-Instagram-lg,
    .learn-more__image-facebook-lg,
    .learn-more__image-face-lg {
        display: inline;
        max-width: 100%;
    }
} 