<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="feature.css">
	<link rel="stylesheet" href="../button/button.css">
    <title>Feature</title>
</head>
<body>
	<div class="feature feature-lighter-gray">
		<div class="feature-box feature-box__texto">
			<h2>Social Publishing</h2>
			<p>
				É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando <a href="#">estiver</a> examinando sua diagramação.
			</p>
			<p>
				É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando <a href="#">estiver</a> examinando sua diagramação.
			</p>
			<a href="#" class="button button--primary">Get Started</a>
		</div>
		<div class="feature-box feature-box__imagem">
			<img src="macbook.png">
		</div>
	</div>
	<div class="feature feature-reverse feature-gray">
		<div class="feature-box feature-box__texto">
			<h2>Engagement</h2>
			<p>
				É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando examinando sua diagramação.
			</p>
			<a href="#" class="button button--primary">Get Started</a>			
		</div>
		<div class="feature-box feature-box__imagem">
			<img src="timelines.png">			
		</div>	
	</div>
	<div class="feature feature-lighter-gray feature-lighter-gray-02">
		<div class="feature-box feature-box__texto">
			<h2>Collaboration</h2>
			<p>
				É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando <a href="#">estiver</a> examinando sua diagramação.
			</p>
			<a href="#" class="button button--primary">Get Started</a>
		</div>
		<div class="feature-box feature-box__imagem">
			<img src="exchange.png">
		</div>
	</div>
	<div class="feature feature-reverse feature-gray feature-gray-02">
		<div class="feature-box feature-box__texto">
			<h2>App Directory</h2>
			<p>
				É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando examinando sua diagramação.
			</p>
			<a href="#" class="button button--primary">Get Started</a>			
		</div>
		<div class="feature-box feature-box__imagem">
			<img src="screen.png">			
		</div>	
	</div>
</body>
</html>