* {
    font-family: Open Sans;
}

body {
    margin: 0;
}

.page-footer {
    background-color: #444;
    text-align: center;
}

.logo-header {
    color: #eee;
    padding: 1em 0 0 0;
    margin: 0;
    font-size: 26px;
}

.logo-text {
    color: #999;
    margin: 0 0 0.5em 0;
    font-weight: 600;
    font-size: 13px;
}


.further-info {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #bbb;
    font-size: 12px;
    font-weight: 600;

}

.further-info li {
    padding-top: 1em;
    color: #ddd;
}

.social-media-facebook, .social-media-twitter{
    width: 15px;
    height: 15px;
    padding: 1px;
    margin: 2.5em 2px;
    background-color: white;
    filter: opacity(20%);    
}

@media screen and (min-width: 768px){
    .page-footer{
        display: flex;
        flex-flow: row;
        align-content: center;
        justify-content: space-between;
     }

    .logo {
        margin-left: 1.5em;
    }
    .footer-actions {
        display: flex;
        align-items: center;
    }
    .further-info {
        margin-right: 20px;
    }
    .further-info li {
        display: inline;
        margin-right: 10px;        
    }
    .social-media {
        margin-right: 20px;
    }

}



    
@media(min-width: 996px){
    .page-footer {
        justify-content: space-around;
     }

}
