<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="footer.css">
    
    <title>Componente</title>
</head>
<body>
    <footer class="footer">
        <div class="footer__logo">
            <h2 class="footer__logo__header">reach.me</h2>
            <p class="footer__logo__text">Powered by Gravity4</p>
        </div>
        <div class="footer__actions">
            <ul class="footer__actions__further-info">
                <li>Privacy Policy</li>
                <li>Terms of Service</li>
                <li>Opt-Out</li>
                <li>Contact</li>
            </ul>
            <div class="footer__actions__social">
                <img class="footer__actions__social-facebook" src="social-facebook.png" alt="logo do facebook"></img>
                <img class="footer__actions__social-twitter" src="social-twitter.png" alt="logo do twitter"></img>
            </div>
        </div>
    </footer>
    
</body>
</html>
