* {
    font-family: Open Sans;
}

body {
    margin: 0;
}

.footer {
    text-align: center;
    background-color: #444;
}

.footer__logo__header {
    padding: 1em 0 0 0;
    margin: 0;
    font-size: 26px;
    color: #eee;
}

.footer__logo__text {
    margin: 0 0 0.5em 0;
    font-weight: 600;
    font-size: 13px;
    color: #999;
}


.footer__actions__further-info {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 12px;
    font-weight: 600;
    color: #bbb;
}

.footer__actions__further-info li {
    padding-top: 1em;
    color: #ddd;
}

.footer__actions__social-facebook, .footer__actions__social-twitter{
    width: 15px;
    height: 15px;
    padding: 1px;
    margin: 2.5em 2px;
    background-color: white;
    filter: opacity(20%); 
}

@media screen and (min-width: 768px){
    .footer{
        display: flex;
        flex-flow: row;
        align-content: center;
        justify-content: space-between;
     }

    .footer__logo {
        margin-left: 1.5em;
    }
    .footer__actions {
        display: flex;
        align-items: center;
    }
    .footer__actions__further-info {
        margin-right: 20px;
    }
    .footer__actions__further-info li {
        display: inline;
        margin-right: 10px;        
    }
    .footer__actions__social {
        margin-right: 20px;
    }

}


@media screen and (min-width: 996px){
    .footer {
        justify-content: space-evenly;
     }

}
